/* Need to be implemented */
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 8px;
    overflow: hidden;
    background: url(../images/bg.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    padding: 0px 20px 10px 10px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.8;
    min-height: 300px;
    max-height: 600px;
}

#title {
    display: block;
    text-align: center;
}

#h2_title {
    margin: 19.920px 0px 5px 0px;
    text-align: center;
}

p {
    margin: 0px;
    text-align: center;
}

#itemsContainer {
    width: 400px;
    display: block;
}

#inputItemPlaceholder {
    width: 380px;
    height: 28px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

#inputItem {
    width: 240px;
    height: 24px;
    padding: 1px 0px 1px 5px;
    margin-right: 10px;
    border: 0px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-align: start;
    font-size: 15px;
    outline: none;
}

#button {
    padding: 2px 15px 2px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: #fc999b;
    margin-top: 2px;
    color: white;
    background-color: #f8b7b8;
    outline: none;
    font-size: 15px;
    justify-content: center;
    cursor: pointer;
}

#to-do-items {
    padding: 0px 20px 0px 20px;
    overflow: auto;
    font-size: 16px;
    max-height: 280px;
    min-height: 150px;
    display: block;
}

ol {
    margin-top: 0px;
}

ol li {
    padding: 5px 0px 5px 2px;
    position: relative;
}

ol li span {
    margin-left: 5px;
}

#btnContainer {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.footerButtons-unchecked {
    color: #fc999b;
    padding: 2px 15px 2px 15px;
    border-width: 0px;
    border-style: solid;
    border-radius: 15px;
    margin: 2px 0px 0px 15px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.footerButtons-unchecked:hover{
    background-color: #f8b7b8;
}

.footerButton-checked {
    color: white;
    background-color: #f8b7b8;
    border-width: 1px;
    border-style: solid;
    border-color: #fc999b;
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
    margin: 2px 0px 0px 15px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.deleteButton {
    background: url(../images/delete.png);
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: 0px;
    outline: none;
    position: absolute;
    right: 10px;
    display: none;
}

ol li:hover .deleteButton {
    display: inline-block;
}

ol li:nth-child(even) {
    background: #f4ecec;
}

ol li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.COMPLETED {
    color: #999;
    text-decoration: line-through;
}